.custom-shadow {
background-color: color(srgb 0.678 0.847 0.902 / 0.3);
  }
 /* Prevent horizontal scrolling */
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Hero container full-screen without overflow */
.hero-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Animated hero image */
.animated-hero {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: moveHero 10s infinite alternate ease-in-out;
}

/* Keyframes for slight movement */
@keyframes moveHero {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.05) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

/* Ensure responsiveness on all devices */
@media (max-width: 768px) {
  .hero-container {
    height: 500px;
    
  }

  .animated-hero {
    width: 100%;
    height: 100%;
    object-fit: inherit; /* Ensures full image is shown without cropping */
  }
}

  