.awards-container {
    position: relative;
    width: 100%;
  }
  
  .awards-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets//testimonials-bg.jpg');    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .awards-overlay {
 
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521); 
    color: white;
  }
  .award-img {
    width: 100%;
    
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  

  
 

  