.our-mession-section {
    position: relative;
    background-image: url('/src/assets/mession.png'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: white;
    background-color: black;
    overflow: hidden;
}

.our-mession-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color(srgb 0 0.0352941 0.0627451 / 0.7); /* Overlay color */
    box-shadow: inset 0 0 100px rgb(0, 0, 0); /* Inner shadow */
    z-index: 1; /* Lower layer */
    pointer-events: none;
}

.our-mession-div {
    position: relative;
    z-index: 2; /* Higher than the overlay */
}




