.hover-card {
    border: 1px solid #D9D9D9;
    overflow: hidden;
    position: relative;
  }
  
  .background-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 80, 157, 0.1); /* Faint color with 10% opacity */
    border-radius: 50%;
    z-index: 1;
    transition: width 1.2s ease, height 1.2s ease, top 1.2s ease, left 1.2s ease;
  }
  
  .hover-card:hover .background-overlay {
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    background: rgba(0, 80, 157, 0.3); /* Slightly darker on hover for visibility */
  }
  